@import url("components/cards.css");
@import url("components/reveal.css");
@import url("components/avatar.css");
@import url("components/table.css");
@import url("components/footer.css");
@import url("components/progressbar.css");
@import url("components/number.css");
@import url("components/test.css");


body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(240,240,240);
  text-align: center;
  display: inline-block;
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
}

.white-card {
  margin: 32px auto;
  display: inline-block;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 300px;
  padding: 24px;
}

.white-card i {
  font-size: 18px;
  color: black;
}

.header-list {
  text-align: left;
  list-style: none;
}


a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

a:active {
  color: #001E6B;
  text-decoration: none;
}

.white-card p {
  text-align: justify;
  text-justify: inter-word;
}


p.center {
  text-align: center;
  margin: 0px;
}

.center {
  text-align: center;
  margin: 0px;
}


@media (min-width: 524px) {
  .white-card {
    width: 420px;
  }
}

@media (min-width: 764px) {
  .white-card {
   width: 620px;
  }
 }

@media (min-width: 996px) {
  .white-card {
    width: 760px;
  }
}

@media (min-width: 1200px) {
  .white-card {
    width: 1000px;
  }
}
