#myProgress {
	width: 100%;
	background-color: #ddd;
}
#myBar {
	width: 7%;
  	height: 30px;
  	background-color: #2196f3;
  	text-align: center;
  	line-height: 30px;
  	color: white;
}
	



.button {
    color: white;
    background-color: #2196f3;
    border: 0px;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
  color: white;
  background-color: #667eea;
}

.button p {
	text-align: center;
	text-decoration: none;
	margin: 0px;
	display: inline-block;
}

